@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.mobile-grid {
  grid-template-columns: 1fr;
  grid-template-rows: 50vh 50vh 35vh 40vh 35vh;
}

.desktop-grid {
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(6, 1fr);
}
